body {
  font-size: 16px;
  background-color: #00203fff;
  font-family: sans-serif
}

#header-nav {
  background-color: #adefd1ff;
  border-radius: 0;
  border: 0;
  min-height: 70px;
}

.navbar-brand h1 {
  font-family: serif;
  color: #011f1c;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list a {
  color: #011f1c;
  font-weight: bold;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #80bad1;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#page-title {
  font-weight: bold;
  margin-bottom: 30px;
  color: #ddedec;
}

#main-text {
  padding-left: 20px;
  padding-right: 20px;
}

.text-background {
  padding: 20px 40px 20px 40px;
  background-color: #c5e8cc;
  overflow: hidden;
}

h3 {
  font-weight: bold;
}